<% if current_user.slug != params[:slug]%>
    <h2><%= @user.username %>'s Gems</h2>
<% else %>
    <h2>Here are your Gems, <%= @user.username %></h2>
<% end %>

<% @user.gemstones.each do |gem| %>
    <span class="gem-title"><%= gem.name %>:</span>
    <span class="description"><%= gem.description %></span>  

    <% if @user == current_user %>
        <a class="redirect-link" id="edit" href="/gems/<%=gem.id%>/edit">Edit Gem</a>

        <form action="/gems/<%= gem.id %>" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <input class="link-button" type="submit" value="Delete Gem" onclick="return confirm('Are you sure you want to delete this gem?');">
        </form>
    <% end %>
<% end %>
