<% if current_user.username != params[:slug]%>
<h2><%= @user.username %>'s Gems</h2>
<% else %>
<h2>Here are your Gems, <%= @user.username %></h2>
<% end %>
<%# #change this to be username or not. %>

<% @user.gemstones.each do |gem| %>
<span class="gem-title"><%= gem.name %>:  </span>
<span class="description"><%= gem.description %></span>  

    <% if gem_creator?(gem) %>
        <a class="redirect-link" id="edit" href="/gems/<%=gem.id%>/edit">Edit Gem</a>

        <form action="/gems/<%= gem.id %>/delete" method="post">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <input class="link-button" type="submit" value="Delete Gem">
        </form>
    <% end %>
<% end %>
